<%= form_with model: @question do |form| %>
  <% if @question.errors.any? %>
    <div>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :タイトル %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :名前 %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :本文 %><br>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>