<div class="question-form">
  <%= form_with(model: question, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title, 'タイトル', class: 'form-label' %>
      <%= f.text_field :title, class: 'form-input' %>
    </div>

    <div class="form-group">
      <%= f.label :content, '内容', class: 'form-label' %>
      <%= f.text_area :content, class: 'form-textarea' %>
    </div>

    <div class="form-group">
      <%= f.submit '保存', class: 'submit-button' %>
    </div>
  <% end %>
</div>