<div class="questions-container">
  <h1>質問一覧</h1>
  
  <%= link_to '新規投稿', new_question_path, class: 'action-button submit-button' %>

  <table class="questions-table">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>名前</th>
      <th>本文</th>
      <th>アクション</th>
    </tr>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.title %></td>
        <td><%= question.name %></td>
        <td><%= question.content %></td>
        <td>
          <%= link_to '詳細', question_path(question), class: 'action-link view-link' %>
          <%= link_to '編集', edit_question_path(question), class: 'action-link edit-button' %>
          <%= link_to '削除', question_path(question),
              data: { turbo_method: 'delete', 
              turbo_confirm: '本当に削除しますか?'},
              class: 'action-link delete-button' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>